/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  margin: 36px;
  gap: 8px;
}

input {
  padding: 0;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.loader {
  display: none;
  background: url('https://cdnjs.cloudflare.com/ajax/libs/loader.css/0.1.2/loader.min.css')
    no-repeat center;
}

.loader.is-visible {
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.gallery-item {
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
}
